.chat-container {
    position: relative;
    min-width: 200px;
    padding: 8px 10px 5px 10px;
    background: #304fff;
    border-radius: 5px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.img:hover {
    /*filter: grayscale(100%);*/
    opacity: 0.8;
    cursor: pointer;
}