.chat-container {
    position: relative;
    max-width: 75%;
    min-width: 200px;
    height: auto;
    padding: 8px 10px 5px 10px;
    background: #304fff;
    border-radius: 5px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}